# Directory where all configuration will be stored.
CONFIG=./jitsi-meet-cfg

# System time zone.
TZ=Europe/Amsterdam

# Public URL for the web service.
PUBLIC_URL=https://my.domain.tld

# Virtual host for nginx proxy
VIRTUAL_HOST=my.domain.tld

# lets encrypt proxy
LETSENCRYPT_HOST=my.domain.tld
LETSENCRYPT_EMAIL=my@mail.org

# Your external server ip.
DOCKER_HOST_ADDRESS=12.34.56.78

HTTP_PORT=8000
HTTPS_PORT=8443

# Enable authentication.
ENABLE_AUTH=1

# Enable guest access.
ENABLE_GUESTS=1

# Select authentication type: internal, jwt or ldap
AUTH_TYPE=internal

# Internal XMPP domain.
XMPP_DOMAIN=my.domain.tld

# Internal XMPP server
XMPP_SERVER=xmpp.my.domain.tld

# Internal XMPP server URL
XMPP_BOSH_URL_BASE=http://xmpp.my.domain.tld:5280

# Internal XMPP domain for authenticated services.
XMPP_AUTH_DOMAIN=auth.my.domain.tld

# XMPP domain for the MUC.
XMPP_MUC_DOMAIN=muc.my.domain.tld

# XMPP domain for the internal MUC used for jibri, jigasi and jvb pools.
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.my.domain.tld

# XMPP domain for unauthenticated users.
XMPP_GUEST_DOMAIN=guest.my.domain.tld

# Custom Prosody modules for XMPP_DOMAIN (comma separated)
XMPP_MODULES=

# Custom Prosody modules for MUC component (comma separated)
XMPP_MUC_MODULES=

# Custom Prosody modules for internal MUC component (comma separated)
XMPP_INTERNAL_MUC_MODULES=

# MUC for the JVB pool.
JVB_BREWERY_MUC=jvbbrewery

# XMPP user for JVB client connections.
JVB_AUTH_USER=jvb

# XMPP password for JVB client connections.
JVB_AUTH_PASSWORD=ad75e1e75a107a528dea720f15c640ae

# STUN servers used to discover the server's public IP.
JVB_STUN_SERVERS=meet-jit-si-turnrelay.jitsi.net:443

# Media port for the Jitsi Videobridge
JVB_PORT=10000

# TCP Fallback for Jitsi Videobridge for when UDP isn't available
JVB_TCP_HARVESTER_DISABLED=true
JVB_TCP_PORT=4443

# XMPP component password for Jicofo.
JICOFO_COMPONENT_SECRET=028940170a128b9ddcbb495ad8c809d1

# XMPP user for Jicofo client connections. NOTE: this option doesn't currently work due to a bug.
JICOFO_AUTH_USER=focus

# XMPP password for Jicofo client connections.
JICOFO_AUTH_PASSWORD=66ad9fd0edeb023e9439b20848270b93

# Base URL of Jicofo's reservation REST API
#JICOFO_RESERVATION_REST_BASE_URL=http://reservation.example.com

# XMPP user for Jigasi MUC client connections.
JIGASI_XMPP_USER=jigasi

# XMPP password for Jigasi MUC client connections.
JIGASI_XMPP_PASSWORD=858cb737af8b6f54503a89ac40e42829

# MUC name for the Jigasi pool.
JIGASI_BREWERY_MUC=jigasibrewery

# Minimum port for media used by Jigasi.
JIGASI_PORT_MIN=20000

# Maximum port for media used by Jigasi.
JIGASI_PORT_MAX=20050

# XMPP domain for the jibri recorder
XMPP_RECORDER_DOMAIN=recorder.my.domain.tld

# XMPP recorder user for Jibri client connections.
JIBRI_RECORDER_USER=recorder

# XMPP recorder password for Jibri client connections.
JIBRI_RECORDER_PASSWORD=0035f1d722923c340ffb8d9c3e770e8b

# Directory for recordings inside Jibri container.
JIBRI_RECORDING_DIR=/config/recordings

# The finalizing script. Will run after recording is complete.
JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/config/finalize.sh

# XMPP user for Jibri client connections.
JIBRI_XMPP_USER=jibri

# XMPP password for Jibri client connections.
JIBRI_XMPP_PASSWORD=7bb096f1a41ebb4feca9b7399b92108f

# MUC name for the Jibri pool.
JIBRI_BREWERY_MUC=jibribrewery

# MUC connection timeout
JIBRI_PENDING_TIMEOUT=90

ENABLE_RECORDING=1

# When jibri gets a request to start a service for a room, the room
# jid will look like: roomName@optional.prefixes.subdomain.xmpp_domain
# We'll build the url for the call by transforming that into:
# https://xmpp_domain/subdomain/roomName
# So if there are any prefixes in the jid (like jitsi meet, which
# has its participants join a muc at conference.xmpp_domain) then
# list that prefix here so it can be stripped out to generate
# the call url correctly.
JIBRI_STRIP_DOMAIN_JID=muc

# Directory for logs inside Jibri container.
JIBRI_LOGS_DIR=/config/logs

# Disable HTTPS. This can be useful if TLS connections are going to be handled outside of this setup.
# Do NOT change if running jibri!
DISABLE_HTTPS=0
ENABLE_HTTP_REDIRECT=0
